<h2>Hello, I'm Sebi!</h2>
<p><img src="https://s.gravatar.com/avatar/3eae93cc6b13e92aab7af926d08783bf.png" alt="Sebi Gavril" title="Follow me on Twitter @sebigavril"  class="img-rounded floatLeft" />			
I am a professional software engineer living in Iasi, Romania with more than 5 years of experience in the field. I am a husband, father and devout Christian.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=sebigavril&repo=sebigavril.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=sebigavril&repo=sebigavril.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/sebigavril" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @sebigavril</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/sebigavril" rel="me" class="social github" title="Go to github.com/sebigavril" target="_blank"></a></li>
	  <li><a href="https://ro.linkedin.com/in/sebastiangavril" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/sebigavril" rel="me" class="social twitter" title="Go to twitter.com/sebigavril" target="_blank"></a></li>
	</ul>
</p>