<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://sebigavril.github.io">Another developer blog</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://sebigavril.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/sebigavril" rel="tooltip" title="Go to twitter.com/sebigavril" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/sebigavril" rel="tooltip" title="Go to github.com/sebigavril" target="_blank">GitHub</a></li>
					<li class=""><a href="https://ro.linkedin.com/in/sebastiangavril" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>										
				</ul>
			 </li>
		</ul>		
	  </div>
	</div>
  </div>
</div>